<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about me">About</a></li>
	        		<li><a href="/amazig food">Amazing Food</a></li>
	        		<li><a href="/quirky museums">Quirky Museums</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wal30@pitt.edu">email</a></li>
	        		<li><a href="https://github.com/wal30">github.com/wal30</a></li>
				</ul>
			</footer>
		</body>
	</html>
